mat-header-row {
  background-color: #05808d;
}
.weight {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
.final {
  display: flex;
  justify-content: flex-start;
  margin-top: 3%;
  font-size: 14px;
  font-weight: 500;
}
h1 {
  display: flex;
  justify-content: flex-start;
}
